<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/start.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Inviting</title>
</head>
<body>
<div id="frenshtml">
    <h1 class='big' id="center">0</h1>
    <h4 id="center">You dont have a frens :(</h4>
    <h4 id="center" style="margin-top: -14px;">But you can always invite them...</h4>


    <div class="invite">
        <button id="invite">+ invite</button>
        <button id="copy" onclick="resetLocalStorage()">+</button>
    </div>
</div>
    <nav>
        <div onclick="locate('/game')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
        <div onclick="locate('/shop')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
        <div onclick="locate('/frens')">
            <img src="static/js/images/IMG_0936.PNG" alt="">
        </div>
        <div onclick="locate('/top')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
        <div onclick="locate('/tasks')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
    </nav>


    <script src="static/js/frens.js"></script>
    <script src="static/js/locaion.js"></script>
    <script src="static/js/back.js"></script>
    <script src="static/js/notstart.js"></script>
</body> 
</html>