<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="start.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Inviting</title>
</head>
<body>
    <center>
        <h1 class='big balance' id="center">
            305
            <img id='coin' src="images/IMG_0933.PNG" alt="">
        </h1>
        
    </center>
    <h4 id="center">Get more coins with tasks completing.</h4>
    <div id="buttons">
        <div>
            <p>tasks</p>
        </div>
        <div>
            <p>frens</p>
        </div>
        <div>
            <p>earn</p>
        </div>
    </div>


    <div class="tasks">
        <div>
            <img src="images/IMG_0944.PNG" alt="">
            <p>Subscribe to us</p>
            <p class="award">award: 100
                <img id='coin' class="little" src="images/IMG_0933.PNG">
            </p>
        </div>
        <div>
            <img src="images/IMG_0944.PNG" alt="">
            <p>make a transaction</p>
            <p class="award">award: 500
                <img id='coin' class="little" src="images/IMG_0933.PNG">
            </p>
            
        </div>
        <div>
            <img src="images/IMG_0944.PNG" alt="">
            <p>invite 3 friends</p>
            <p class="award">award: 200
                <img id='coin' class="little" src="images/IMG_0933.PNG">
            </p>
        </div>
        
        <div>
            <p>invite 10 friends</p>
            <p class="award">award: 500
                <img id='coin' class="little" src="images/IMG_0933.PNG">
            </p>
        </div>

        <div>
            <p>play catizen</p>
            <p class="award">award: 200
                <img id='coin' class="little" src="images/IMG_0933.PNG">
            </p>
        </div>

        <div>
            <p>play ton league</p>
            <p class="award">award: 200
                <img id='coin' class="little" src="images/IMG_0933.PNG">
            </p>
        </div>


    </div>

    <footer></footer>

    <nav>
        <div onclick="locate('game.html')">
            <img src="images/IMG_0936.PNG" alt="">
        </div>
        <div onclick="locate('frens.html')">
            <img src="images/IMG_0935.PNG" alt="">
        </div>
        <div onclick="locate('board.html')">
            <img src="images/IMG_0935.PNG" alt="">
        </div>
    </nav>

    <script src="js/locaion.js"></script>
    <script src="js/back.js"></script>
    <script src="js/notstart.js"></script>
</body>
</html>