<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/start.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Inviting</title>
    <link rel="stylesheet" href="static/top.css">
</head>
<body>

    <div id="leaders">
        <div id="secondPlace" class="circle">v
            <span id="number2">#2</span>
        </div>
        <div id="firstPlace" class="circle">m
            <span id="number1">#1</span>
        </div>
        <div id="thirdPlace" class="circle">p
            <span id="number3">#3</span>
        </div>
    </div>

    <div id="otherLeaders">
        <div id="first" style="border: 1px solid rgb(249, 204, 3); background: linear-gradient(45deg, rgb(249, 204, 3), rgb(249, 167, 3));">
            <span class="number" style="color: white;">#1</span>
            <span class="username" style="color: white;">meta</span>

            <span class="earned">
                71.1M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                922.9 
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>

        <div id="second" style="border: 1px solid rgb(175, 175, 175); background: linear-gradient(45deg, rgb(175, 175, 175), rgb(133, 132, 132));">
            <span class="number" style="color: white;">#2</span>
            <span class="username" style="color: white;">vinsordcrypto</span>

            <span class="earned">
                17.1M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                0 
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>

        <div id="third" style="border: 1px solid rgb(207, 132, 3); background: linear-gradient(45deg, rgb(207, 132, 3), rgb(149, 96, 3));">
            <span class="number" style="color: white;">#3</span>
            <span class="username" style="color: white;">pusher</span>

            <span class="earned">
                16M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                17.2
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>

        <div>
            <span class="number">#4</span>
            <span class="username">user42</span>

            <span class="earned">
                14.9M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                172.86 
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>
        
        <div>
            <span class="number">#5</span>
            <span class="username">antoxa</span>

            <span class="earned">
                7.1M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                12.86 
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>
        <div>
            <span class="number">#6</span>
            <span class="username">eblan200</span>

            <span class="earned">
                7M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                8.9 
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>
        <div>
            <span class="number">#7</span>
            <span class="username">durov</span>

            <span class="earned">
                6.9M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                0.009
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>
        <div>
            <span class="number">#8</span>
            <span class="username">user</span>

            <span class="earned">
                6.9M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                1.08
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>
        <div>
            <span class="number">#9</span>
            <span class="username">user</span>

            <span class="earned">
                6.9M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                0
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>
        <div>
            <span class="number">#10</span>
            <span class="username">user</span>

            <span class="earned">
                6.9M
                <img src="static/js/images/IMG_0933.PNG">
            </span>

            <span class="earnedTON">
                0
                <img src="static/js/images/ton.PNG" alt="">
            </span>
        </div>
    </div>

    <div id="selfLeader">
        <span class="number">#628</span>
        <span class="username">me</span>

        <span class="earned">
            992.7K
            <img src="static/js/images/IMG_0933.PNG">
        </span>

        <span class="earnedTON">
            0.92 
            <img src="static/js/images/ton.PNG" alt="">
        </span>
    </div>

    <footer></footer>

    <nav>
        <div onclick="locate('/game')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
        <div onclick="locate('/shop')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
        <div onclick="locate('/frens')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
        <div onclick="locate('/top')">
            <img src="static/js/images/IMG_0936.PNG" alt="">
        </div>
        <div onclick="locate('/tasks')">
            <img src="static/js/images/IMG_0935.PNG" alt="">
        </div>
    </nav>

    <script src="static/js/frens.js"></script>
    <script src="static/js/locaion.js"></script>
    <script src="static/js/back.js"></script>
    <script src="static/js/notstart.js"></script>
</body> 
</html>